<!DOCTYPE html>
<html lang="en">

<%- include("../components/head.ejs") %>

<body>

  <%- include("../components/header.ejs") %>


  <div class="form">

    <h2>
      Edit blog
    </h2>

    <input type="text" name="title" value="<%= blog.title %>">

    <input type="text" name="subject" value="<%= blog.subject %>">

    <textarea rows="5" type="text" name="body"><%= blog.body %></textarea>

    <button id="edit" type="submit">Edit</button>

  </div>


  <%- include("../components/footer.ejs") %>


  <script>
    const edit = document.querySelector('#edit');
    edit.addEventListener('click', () => {
      fetch('/blogs/<%= blog._id %>', {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            title: document.querySelector('input[name="title"]').value,
            subject: document.querySelector('input[name="subject"]').value,
            body: document.querySelector('textarea[name="body"]').value
          })
        })
        .then(res => res.json())
        .then(data => {
          console.log(data);
          window.location.href = '/blogs';
        })
    });
  </script>
</body>

</html>